name: Linux x64

on: 
  pull_request:
    branches:
    - develop
  push:
    branches:
    - develop

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.1
      with:
        submodules: recursive
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v2.0
      with:
        cmake-version: '3.20.x'
    - name: Use cmake
      run: cmake --version
    - name: install build dependencies
      run: sh install-dependencies.sh
    - name: install libressl
      run: sh build-libressl.sh
    - name: build
      run: sh build.sh
